.new-post {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 1px solid gray;
}
textarea {
  height: 200px;
  border-radius: 5px;
  padding: 5px;
}
input {
  border-radius: 5px;
  padding: 5px;
}