.button-wrapper {
  display: flex;
}

.new-post {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  max-width: 900px;
  min-width: 250px;
  margin: 10px;
}
textarea {
  border-radius: 5px;
  height: 100px;
  padding: 5px;
}
input {
  border-radius: 5px;
  padding: 5px;
}
