.post-item {
  border: 1px solid gray;
  width: 100%;
  margin: 5px;
  min-height: 120px;
  border-radius: 5px;
}

.title-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

.vote-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.post-title {
  margin: 0px;
  margin-right: 5px;
}

.post-link {
  text-decoration: none;
  color: lightblue;
}