.post-item {
  border: 1px solid gray;
  width: 90vw;
  margin: 5px;
  border-radius: 5px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

.vote-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  font-size: 25px;
}

.post-title {
  margin: 0px;
  margin-right: 5px;
}

.post-link {
  text-decoration: none;
  color: lightblue;
}

@media only screen and (min-width: 772px) {
  .post-item {
    width: 100%;
    min-height: 120px;
  }

  .vote-buttons {
    font-size: 15px;
  }
}