.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  height: 100%;
}

#login-home-message {
  grid-area: feed;
}

@media only screen and (min-width: 992px) {
  .App {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "side feed empty";
  }
}
