.header-nav {
  align-items: center;
  background-color: var(--main-purple);
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  top: 0;
}

.header-text {
  display: flex;
  justify-content: space-between;
}